# Ignore everything
/*

# But not these files
!.gitignore
!README.md
!arch-bootstrap
!alacritty/
!awesome/
# Only adds nvim/init.vim
!nvim/
nvim/*
!nvim/init.vim
!picom.conf
!rofi/
!scripts/
!smug/
!starship/
!.tmux.conf
!wal/
# Only adds zsh/.zshrc
!zsh/
zsh/*
!zsh/.zshrc
!.zshenv
