configuration {
  modi: "window,run,ssh,drun,calc:/home/coffee/.config/rofi/scripts/rofi-calc.sh";
	font: "Hack Nerd Font Mono 16";
	show-icons: true;
  icon-theme: "Zafiro-Icons-Dark";

  display-ssh:    "";
  display-run:    "";
  display-drun:   "";
  display-window: "";
  display-combi:  "";

  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}
@theme "~/.cache/wal/colors-rofi-dark"
