configuration{
    modi: "run,drun,window,power:/home/coffee/.config/rofi/scripts/rofi-power.sh";
    icon-theme: "Qogir-dark";
    show-icons: true;
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "    Apps ";
    display-run: "    Run ";
    display-window: "    Window";
    display-power: "    Power";
    display-Network: " 󰤨   Network";
    sidebar-mode: false;
}

@theme "catppuccin-macchiato.rasi"
