configuration{
    modi: "run,drun,window,power:/home/coffee/.config/rofi/scripts/rofi-power.sh";
    icon-theme: "Qogir-dark";
    show-icons: true;
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "    Apps ";
    display-run: "    Run ";
    display-window: "    Window";
    display-power: "    Power";
    display-Network: " 󰤨   Network";
    sidebar-mode: false;
    kb-row-up: "Up,Control+k,Shift+Tab,Shift+ISO_Left_Tab";
    kb-row-down: "Down,Control+j";
    kb-accept-entry: "Control+m,Return,KP_Enter";
    terminal: "mate-terminal";
    kb-remove-to-eol: "Control+Shift+e";
    /*kb-mode-next: "Shift+Right,Control+Tab,Control+l";*/
    kb-mode-previous: "Shift+Left,Control+Shift+Tab,Control+h";
    kb-remove-char-back: "BackSpace";
}

@theme "catppuccin-macchiato.rasi"
